.progress-bar {
  width: 300px;
  display: block;
  margin-top: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 80px auto;
  padding: 25px;
  border-radius: 20px;
  background: #f0f0f0;
  text-align: center;
}

.container {
  max-width: fit-content;
  max-height: max-content;
  margin: 80px auto;
  padding: 25px;
  border-radius: 20px;
  background: white;
}
.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.controls button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #5d00ff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}
.controls button:hover {
  background: #0056b3;
  transform: translateY(-3px);
}

.progress-bar {
  width: 100%;
  display: block;
  margin-top: 10px;
  color: red;
  background: red;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode .container {
  background: #333;
}
.dark-mode button {
  background: red;
  color: white;
}

li {
  text-decoration: none;
  list-style: none;
}

.progress-container {
  margin-bottom: 20px;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-container {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dark-mode .playlist-container {
  background-color: #333;
}
.playlist-container ul {
  list-style-type: none;
  padding: 0;
}
.playlist-container li {
  width: 90%;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s;
}
.playlist-container li:hover {
  background-color: #ddd;
}

.file-input-container {
  margin-top: 10px;
}

#fileInput {
  display: block;
  margin: 0 auto;
}

.current {
  background-color: #546161;
  border-radius: 30px;
  color: white;
}

#fileInput {
  display: none;
}

.file-input-container {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

span {
  font-size: 16px;
  background-color: tomato;
  padding: 10px 20px;
  border-radius: 5px;
}

.dark-mode .file-input-container {
  background-color: #333;
  color: white;
}
